<c-row>
  <c-card class="my-4 shadow border-0">
    <c-card-body class="align-middle">
      <form cForm class="my-auto">
        <c-row class="mb-2 d-flex justify-content-center align-items-center">
          <label cCol for="searchTerm">Trouver un stage</label>
          <c-col [sm]="8">
            <input
              placeholder="Nom / Prenom / Email"
              [formControl]="searchTerm"
              cFormControl
              id="searchTerm"
              type="text"
            />
          </c-col>
          <c-col [sm]="2">
            <button
              cButton
              class="d-flex align-items-center"
              color="primary"
              type="button"
              (click)="
                search = true; currentPage = 1; searchStage(currentPage - 1)
              "
            >
              <span class="pb-1">Rechercher</span>
              <span class="mx-1">
                <svg
                  cIcon
                  name="cilZoom"
                  size="lg"
                  title="Search lens icon"
                ></svg>
              </span>
            </button>
          </c-col>
        </c-row>
      </form>
    </c-card-body>
  </c-card>
</c-row>
<c-row>
  <c-card class="shadow border-0">
    <c-card-body>
<table [hover]="true"
[responsive]="true"
[striped]="true"
align="middle"
 cTable
 class="border">
  <thead>
  <tr>
  <th scope="col">titre</th>
  <th scope="col">description</th>
  <th scope="col">duree</th>
  <th scope="col">action</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let stage of stages | paginate
  : {
      itemsPerPage: 10,
      currentPage: currentPage,
      totalItems: itemsCount
    } ">
      <td>{{stage.nom}}</td>
      <td>{{stage.sujet}}</td>
      <td>{{stage.duree}}</td>
      <td><button class="bg-warning border-0 mr-2"  (click)="showStageUpdateForm(stage)" cButton><svg cIcon name="cilPencil" size="lg" title="Modifier etudiant"></svg></button><span class="mx-1"></span>
        <button class="bg-danger border-0 ml-2"  (click)="showStageDeleteForm(stage.id)" cButton><svg cIcon name="cilTrash" size="lg" title="Modifier etudiant"></svg></button></td>
    </tr>
  <tr>
  </tbody>
  <tfoot>
    <td colspan="4">
      <pagination-controls
        (pageChange)="stagePageChanged($event)"
      ></pagination-controls>
    </td>
  </tfoot>
</table>
</c-card-body>
</c-card>
</c-row>
<div class="pt-2">
  <button cButton class="bg-success border-0 shadow " (click)="showCreation()">creer stage</button>
  </div>

<c-modal #verticallyCenteredModal alignment="center" id="modalLg" size="lg" [visible]="isAddModalVisible" (visibleChange)="toggleAddModal($event)">
  <c-modal-header>
    <h5 cModalTitle>Creer le stage</h5>
  </c-modal-header>
  <c-modal-body>

    <h2>Formulaire de creation</h2>
    <form #stageForm="ngForm" (ngSubmit)="onClickSubmit(stageForm.value)">
      <div class="mb-3">
        <label cLabel for="nom">nom</label>
        <input cFormControl name="nom"  type="text" ngModel required>
      </div>
      <div class="mb-3">
        <label cLabel for="sujet">sujet</label>
        <input cFormControl name="sujet"  type="text" ngModel required>
      </div>
      <div class="mb-3">
        <label cLabel for="duree">duree</label>
        <input cFormControl name="duree"  type="text" ngModel required>
      </div>



      <input cButton color="primary" type="submit">

    </form>
  </c-modal-body>
</c-modal>
<c-modal #verticallyCenteredModal alignment="center" id="modalLup" size="lg" [visible]="isUpdateModalVisible" (visibleChange)="toggleUpdateModal($event)">
  <c-modal-header>
    <h5 cModalTitle>Modifier le stage</h5>
  </c-modal-header>
  <c-modal-body>

    <h2>Formulaire de modification</h2>
    <form #stageUpdateForm="ngForm" (ngSubmit)="onClickUpdate(stageUpdateForm.value)">
      <input name="id"  type="hidden" ngModel  [(ngModel)]="selectedStage.id" >
      <div class="mb-3">
        <label cLabel for="nom">nom</label>
        <input cFormControl name="nom"  type="text" ngModel  [(ngModel)]="selectedStage.nom" required >
      </div>
      <div class="mb-3">
        <label cLabel for="sujet">sujet</label>
        <input cFormControl name="sujet"  type="text" ngModel [(ngModel)]="selectedStage.sujet" required>
      </div>
      <div class="mb-3">
        <label cLabel for="duree">duree</label>
        <input cFormControl name="duree"  type="text" ngModel [(ngModel)]="selectedStage.duree" required>
      </div>



      <input cButton color="primary" type="submit">

    </form>
  </c-modal-body>
</c-modal>
<c-modal #verticallyCenteredModal alignment="center" id="modalLdel" size="lg" [visible]="isDeleteModalVisible" (visibleChange)="toggleDeleteModal($event)">
  <c-modal-header>
    <h5 cModalTitle>Supprimer le stage</h5>
  </c-modal-header>
  <c-modal-body>

    <h2>Supprimer le stage?</h2>
    <input name="id"  type="hidden" ngModel  [(ngModel)]="selectedID.id" >
    <div class="mt-2">
      <button cButton class="bg-danger border-0 shadow " (click)="deleteStage(selectedID.id)">supprimer</button>
      <span class="mx-1"></span>
      <button cButton class="bg-secondary border-0 shadow " (click)="cancel()">Annuler</button>
  </div>
  </c-modal-body>
</c-modal>
