<c-row> <h2>Etudiants</h2> </c-row>

<c-row>
  <c-card class="my-4 shadow border-0">
    <c-card-body class="align-middle">
      <form cForm class="my-auto">
        <c-row class="mb-2 d-flex justify-content-center align-items-center">
          <label cCol for="searchTerm">Trouver un etudiant</label>
          <c-col [sm]="8">
            <input
              placeholder="Nom / Prenom / Email"
              [formControl]="searchTerm"
              cFormControl
              id="searchTerm"
              type="text"
            />
          </c-col>
          <c-col [sm]="2">
            <button
              cButton
              class="d-flex align-items-center"
              color="primary"
              type="button"
              (click)="
                search = true; currentPage = 1; searchStudents(currentPage - 1)
              "
            >
              <span class="pb-1">Rechercher</span>
              <span class="mx-1">
                <svg
                  cIcon
                  name="cilZoom"
                  size="lg"
                  title="Search lens icon"
                ></svg>
              </span>
            </button>
          </c-col>
        </c-row>
      </form>
    </c-card-body>
  </c-card>
</c-row>
<c-row>
  <c-card class="shadow border-0">
    <c-card-body>
<table [hover]="true"
[responsive]="true"
[striped]="true"
align="middle"
 cTable
 class="border-0">
  <thead>
  <tr>
  <th scope="col">Nom</th>
  <th scope="col">prenom</th>
  <th scope="col">email</th>
  <th scope="col">niveau</th>
  <th scope="col" class="center">action</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let etudiant of etudiants | paginate
  : {
      itemsPerPage: 10,
      currentPage: currentPage,
      totalItems: itemsCount
    } ">
      <td>{{etudiant.nom}}</td>
      <td>{{etudiant.prenom}}</td>
      <td>{{etudiant.email}}</td>
      <td>{{etudiant.niveau.libelle}}</td>




      <td><button class="bg-warning border-0 mr-2"  (click)="showStudentUpdateForm(etudiant)" cButton><svg cIcon name="cilPencil" size="lg" title="Modifier etudiant"></svg></button><span class="mx-1"></span>
      <button class="bg-danger border-0 ml-2"  (click)="showStudentdeleteForm(etudiant.id)" cButton><svg cIcon name="cilTrash" size="lg" title="Modifier etudiant"></svg></button></td>
  </tr>

  </tbody>
  <tfoot>
    <td colspan="4">
      <pagination-controls
        (pageChange)="studentsPageChanged($event)"
      ></pagination-controls>
    </td>
  </tfoot>
</table>
</c-card-body>
</c-card>
</c-row>
<div class="pt-2">
<button cButton class="bg-success border-0 shadow " (click)="showCreation()">creer etudiant</button>
</div>
<br/>





<!-- Upload  -->
<form class="pt-4" id="file-upload-form" class="uploader">
  <h2>Choisir un niveau</h2>
  <select  [formControl]="niveau" aria-label="Default select example" cSelect
  name="niveau"
  id="niveau"
  class="form-control"
  >

  <option *ngFor="let niveau of nivaux " [ngValue]="niveau" >{{ niveau.libelle }}</option>
</select>
  <input id="file-upload" type="file" name="fileUpload" (change)="fileUpload($event)" accept=".xls, .xlsx" />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Select a file or drag here</div>
      <div id="notimage" class="hidden">Please select an image</div>
      <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>

</form>
<c-modal #verticallyCenteredModal alignment="center" id="modalLg" size="lg" [visible]="isAddModalVisible" (visibleChange)="toggleAddModal($event)">
  <c-modal-header>
    <h5 cModalTitle>Creer L'etudiant</h5>
  </c-modal-header>
  <c-modal-body>

    <h2>Formulaire de creation</h2>
    <form cForm #studentForm="ngForm" (ngSubmit)="onClickSubmit(studentForm.value)">
      <div class="mb-3">
        <label  cLabel for="nom">Nom</label>
        <input cFormControl name="nom"  type="text" ngModel required>
      </div>
      <div class="mb-3">
        <label cLabel for="prenom">prenom</label>
        <input cFormControl name="prenom"  type="text" ngModel required>
      </div>
      <div class="mb-3">
        <label cLabel for="email">email</label>
        <input cFormControl name="email"  type="text" ngModel required>
      </div>
      <div class="mb-3">
        <label cLabel for="niveau">niveau</label>
        <select ngModel aria-label="Default select example" cSelect
        name="niveau"
        id="niveau"
        class="form-control"
        >

        <option *ngFor="let niveau of nivaux " [value]="niveau.id" >{{ niveau.libelle }}</option>
    </select>

      </div>
     


      <input cButton color="primary" type="submit">

    </form>
  </c-modal-body>
</c-modal>
<c-modal #verticallyCenteredModal alignment="center" id="modalLup" size="lg" [visible]="isUpdateModalVisible" (visibleChange)="toggleUpdateModal($event)">
  <c-modal-header>
    <h5 cModalTitle>Modifier L'etudiant</h5>
  </c-modal-header>
  <c-modal-body>

    <h2>Formulaire de modification</h2>
    <form #studentUpdateForm="ngForm" (ngSubmit)="onClickUpdate(studentUpdateForm.value)">
      <input  name="id"  type="hidden" ngModel  [(ngModel)]="selectedStudent.id" >
      <div class="mb-3">
        <label cLabel for="nom">Nom</label>
        <input cFormControl name="nom"  type="text" ngModel  [(ngModel)]="selectedStudent.nom" required >
      </div>
      <div class="mb-3">
        <label cLabel for="prenom">prenom</label>
        <input cFormControl name="prenom"  type="text" ngModel [(ngModel)]="selectedStudent.prenom" required>
      </div>
      <div class="mb-3">
        <label cLabel for="email">email</label>
        <input cFormControl name="email"  type="text" ngModel [(ngModel)]="selectedStudent.email" required>
      </div>
      <div class="mb-3">
        <label cLabel for="niveau">niveau</label>
        <select aria-label="Default select example" cSelect
        ngModel
        name="niveau"
        id="niveau"
        class="form-control"
        >
        <option *ngFor="let niveau of nivaux" [value]="niveau.id">{{ niveau.libelle }}</option>
    </select>

      </div>



      <input cButton color="primary" type="submit">

    </form>
  </c-modal-body>
</c-modal>
<c-modal #verticallyCenteredModal alignment="center" id="modalLdel" size="lg" [visible]="isDeleteModalVisible" (visibleChange)="toggleDeleteModal($event)">
  <c-modal-header>
    <h5 cModalTitle>Supprimert L'etudiant</h5>
  </c-modal-header>
  <c-modal-body>

    <h2>Supprimer l'etudiant?</h2>
    <input name="id"  type="hidden" ngModel  [(ngModel)]="selectedID.id" >
    <div class="mt-2">
      <button cButton class="bg-danger border-0 shadow " (click)="deleteStudent(selectedID.id)">supprimer</button>
      <span class="mx-1"></span>
      <button cButton class="bg-secondary border-0 shadow " (click)="cancel()">Annuler</button>
  </div>
  </c-modal-body>
</c-modal>




