<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
<tr class="loading">
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
  <td><div class="bar"></div></td>
</tr>
