<c-row> <h2>Etudiants</h2> </c-row>
<c-row>
  <c-card class="my-4 shadow border-0">
    <c-card-body class="align-middle">
      <form cForm class="my-auto">
        <c-row class="mb-2 d-flex justify-content-center align-items-center">
          <label cCol for="searchTerm">Trouver un etudiant</label>
          <c-col [sm]="8">
            <input
              placeholder="Nom / Prenom / Email"
              [formControl]="searchTerm"
              cFormControl
              id="searchTerm"
              type="text"
            />
          </c-col>
          <c-col [sm]="2">
            <button
              cButton
              class="d-flex align-items-center"
              color="primary"
              type="button"
              (click)="
                search = true; currentPage = 1; searchStudents(currentPage - 1)
              "
            >
              <span class="pb-1">Rechercher</span>
              <span class="mx-1">
                <svg
                  cIcon
                  name="cilZoom"
                  size="lg"
                  title="Search lens icon"
                ></svg>
              </span>
            </button>
          </c-col>
        </c-row>
      </form>
    </c-card-body>
  </c-card>
</c-row>
<c-row>
  <c-card class="shadow border-0">
    <c-card-body>
      <table [hover]="true" [responsive]="true" align="middle" cTable>
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Affecter</th>
          </tr>
        </thead>
        <tbody>
          <!--
          <ngx-skeleton-loader
            count="2"
            appearance="line"
            animation="progress"
            [theme]="{
              'background-color': '#FFBF00',
              height: '30px',
              width: '100%',
              'border-radius': 0
            }"
          >
          </ngx-skeleton-loader>-->
          <ng-template [ngIf]="loadingStudents">
            <skeleton-list-loader></skeleton-list-loader>
          </ng-template>
          <tr
            *ngFor="
              let student of students
                | paginate
                  : {
                      itemsPerPage: 10,
                      currentPage: currentPage,
                      totalItems: itemsCount
                    }
            "
            (click)="showStudentDetails($event, student)"
          >
            <td>{{ student.nom }}</td>
            <td>{{ student.prenom }}</td>
            <td>{{ student.email }}</td>
            <td>
              {{
                student.affectationEmplacementStages.length +
                  "/" +
                  student.niveau.stages.length
              }}
              <span
                *ngIf="
                  student && student.affectationEmplacementStages.length > 0
                "
                class="p-1 text-white rounded bg-success"
              >
                <svg
                  cIcon
                  name="cilCheckCircle"
                  size="lg"
                  title="Etudiant affecter"
                ></svg>
              </span>
              <span
                *ngIf="
                  student && student.affectationEmplacementStages.length == 0
                "
                class="p-1 text-white rounded bg-danger"
              >
                <svg
                  cIcon
                  name="cilX"
                  size="lg"
                  title="Etudiant affecter"
                ></svg>
              </span>
            </td>
          </tr>
        </tbody>

        <tfoot>
          <td colspan="4">
            <pagination-controls
              (pageChange)="studentsPageChanged($event)"
            ></pagination-controls>
          </td>
        </tfoot>
      </table>
    </c-card-body>
  </c-card>
</c-row>
<ng-template [ngIf]="isModalVisible">
  <c-modal
    #verticallyCenteredModal
    alignment="center"
    id="modalLg"
    size="lg"
    [visible]="isModalVisible"
    (visibleChange)="toggleModal($event)"
  >
    <c-modal-header>
      <h5 cModalTitle>
        {{ selectedStudent.prenom }} {{ selectedStudent.nom }}
      </h5>
    </c-modal-header>
    <c-modal-body>
      <c-nav variant="tabs">
        <a
          *ngFor="let stage of selectedStudent.niveau.stages; index as i"
          [cTabContent]="tabContent"
          [routerLink]
          [tabPaneIdx]="i"
          [active]="i == 0 ? true : false"
          cNavLink
          >{{ stage.nom }}</a
        >
      </c-nav>
      <c-tab-content #tabContent="cTabContent">
        <c-tab-pane
          *ngFor="let stage of selectedStudent.niveau.stages; index as i"
          class="p-3"
        >
          <c-row>
            <h5>{{ stage.sujet }}</h5></c-row
          >
          <c-row class="d-flex justify-content-end">
            <div class="d-flex justify-content-end">
              <div *ngIf="checkAssinged(stage.nom); else affecterBlock">
                Etudiant Affecter
                <span class="p-1 text-white rounded bg-success">
                  <svg
                    cIcon
                    name="cilCheckCircle"
                    size="lg"
                    title="Etudiant affecter"
                  ></svg>
                </span>
              </div>

              <ng-template #affecterBlock
                ><button cButton (click)="affecter(i)">
                  Affecter
                </button></ng-template
              >
            </div>
          </c-row>
        </c-tab-pane>
      </c-tab-content>
    </c-modal-body>
  </c-modal>
</ng-template>
