<c-row> <h2>Affectations</h2> </c-row>
<c-row>
  <c-card class="my-4 shadow border-0">
    <c-card-body class="align-middle">
      <c-row
        *ngIf="
          loading == false &&
          etudiant &&
          etudiant.affectationEmplacementStages.length === 0
        "
        >Vous n'etes affecter a aucun stage</c-row
      >
      <c-nav variant="tabs">
        <a
          *ngFor="
            let affectation of etudiant.affectationEmplacementStages;
            index as i
          "
          [active]="i == 0 ? true : false"
          [cTabContent]="tabContent"
          [routerLink]
          [tabPaneIdx]="i"
          cNavLink
          >{{ affectation.stage.nom }}</a
        >
      </c-nav>
      <c-tab-content #tabContent="cTabContent">
        <c-tab-pane
          *ngFor="
            let affectation of etudiant.affectationEmplacementStages;
            index as i
          "
          class="p-3"
        >
          <c-row class="mb-3">
            <c-col>
              <h3>Sujet: {{ affectation.stage.sujet }}</h3>
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <c-col>
              Encadre par M.{{ affectation.encadrant.prenom }}
              {{ affectation.encadrant.nom }}
            </c-col>
            <c-col>
              De {{ formatDate(affectation.date_debut) }} a
              {{ formatDate(affectation.date_fin) }}
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <div>
              {{ affectation.emplacementStage.nom }}
              {{ affectation.emplacementStage.addresse }},
              {{ affectation.emplacementStage.ville }}
            </div>
          </c-row>
          <c-row *ngIf="affectation.documents.length === 0"
            ><button cButton (click)="ajouterDocument()">
              Ajouter Document
            </button></c-row
          >
          <c-row *ngIf="affectation.documents.length > 0">
            <div
            style="
              width: 38%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
            *ngFor="
              let document of affectation.documents;
              index as i
            "
          >
            <ngx-doc-viewer
              [url]="getPreviewLink(document.lien)"
              viewer="url"
              style="
                height: 50vh;
                margin-right: 1rem;
                display: inline-block;
              "
            >
            </ngx-doc-viewer>
            <p>{{ document.description }}</p>
          </div>
          </c-row>
        </c-tab-pane>
      </c-tab-content>
    </c-card-body>
  </c-card>
</c-row>


<c-modal
  #verticallyCenteredModal
  alignment="center"
  id="modalLg"
  size="lg"
  [visible]="isModalVisible"
  (visibleChange)="toggleModal($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Ajouter Document</h5>
  </c-modal-header>
  <c-modal-body>
    <h2>Formulaire d'ajout des document de stage</h2>
    <form cForm [formGroup]="addDocumentForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label cLabel for="documentLink">Lien Document(PDF)</label>
        <input
          formControlName="lien"
          cFormControl
          type="text"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="description">Description</label>
        <input
          formControlName="description"
          cFormControl
          type="text"
        />
      </div>
      <button cButton type="submit">Ajouter</button>
    </form>
  </c-modal-body>
</c-modal>
