<c-row> <h2>Affectations</h2> </c-row>
<c-row>
  <c-card class="my-4 shadow border-0">
    <c-card-body class="align-middle">
      <form cForm class="my-auto">
        <c-row class="mb-2 d-flex justify-content-center align-items-center">
          <label cLabel cCol for="searchTerm">Trouver une affectation</label>
          <c-col [sm]="8">
            <input
              placeholder="Nom / Prenom / Ville / EmplacementStage"
              [formControl]="searchTerm"
              cFormControl
              id="searchTerm"
              type="text"
            />
          </c-col>
          <c-col [sm]="2">
            <button
              class="d-flex align-items-center"
              cButton
              color="primary"
              type="button"
              (click)="
                search = true;
                currentPage = 1;
                searchAffectations(currentPage - 1)
              "
            >
              <span class="pb-1">Rechercher</span>
              <span class="mx-1">
                <svg
                  cIcon
                  name="cilZoom"
                  size="lg"
                  title="Search lens icon"
                ></svg>
              </span>
            </button>
          </c-col>
        </c-row>
      </form>
    </c-card-body>
  </c-card>
</c-row>
<c-row>
  <c-card class="shadow border-0">
    <c-card-body>
      <table [hover]="true" [responsive]="true" align="middle" cTable>
        <thead>
          <tr>
            <th scope="col">Etudiant</th>
            <th scope="col">Stage</th>
            <th scope="col">Emplacement</th>
            <th scope="col">Date Debut</th>
            <th scope="col">Date Debut</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let affectation of affectations
                | paginate
                  : {
                      itemsPerPage: 10,
                      currentPage: currentPage,
                      totalItems: itemsCount
                    }
            "
          >
            <td>
              {{ affectation.etudiant.nom }}{{ " "
              }}{{ affectation.etudiant.prenom }}
            </td>
            <td>{{ affectation.stage.nom }}</td>
            <td>{{ affectation.emplacementStage.nom }}</td>
            <td>{{ formatDate(affectation.date_debut) }}</td>
            <td>{{ formatDate(affectation.date_fin) }}</td>
            <td>
              <button
                class="bg-warning border-0"
                (click)="showUpdateAssignmentModal(affectation)"
                cButton
              >
                <svg
                  cIcon
                  name="cilPencil"
                  size="lg"
                  title="Modifier affectation"
                ></svg>
              </button>
              <span class="mx-2"></span>
              <button
                class="bg-danger border-0"
                (click)="showCheckDeleteModal(affectation.id)"
                cButton
              >
                <svg
                  cIcon
                  name="cilTrash"
                  size="lg"
                  title="Supprimer affectation"
                ></svg>
              </button>
            </td>
          </tr>
          <tr></tr>
        </tbody>

        <tfoot>
          <td colspan="3">
            <pagination-controls
              (pageChange)="affectationsPageChanged($event)"
            ></pagination-controls>
          </td>
        </tfoot>
      </table>
    </c-card-body>
  </c-card>
</c-row>

<c-modal
  #verticallyCenteredModal
  alignment="center"
  id="modalLg"
  size="lg"
  [visible]="isUpdateAssignmentModalVisible"
  (visibleChange)="toggleUpdateAssignmentModal($event)"
>
  <c-modal-body>
    <h2>Modifier Affectation</h2>
    <form
      cForm
      [formGroup]="updateAssignmentForm"
      (ngSubmit)="onUpdateAssignmentSubmit()"
    >
      <div class="mb-3">
        <label cLabel for="emplacementStage">Location</label>
        <select
          formControlName="emplacementStage"
          aria-label="Default select example"
          cSelect
        >
          <option disabled>Locations</option>
          <option
            *ngFor="let location of locations; index as i"
            [ngValue]="location"
          >
            {{ location.ville }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label cLabel for="date_debut">Date debut</label>
        <input
          formControlName="date_debut"
          cFormControl
          id="date_debut"
          type="date"
        />
      </div>
      <div class="mb-3">
        <label cLabel for="date_fin">Date fin</label>
        <input
          formControlName="date_fin"
          cFormControl
          id="date_fin"
          type="date"
        />
      </div>
      <button cButton type="submit">Submit</button>
    </form>
  </c-modal-body>
</c-modal>

<c-modal
  #verticallyCenteredModal
  alignment="center"
  id="modalLg"
  size="lg"
  [visible]="isCheckDeleteModalVisible"
  (visibleChange)="toggleCheckDeleteModal($event)"
>
  <c-modal-header>
    <h5 cModalTitle>Affecter L'etudiant</h5>
  </c-modal-header>
  <c-modal-body class="d-flex flex-column align-items-center">
    <h2>Vous etes sur que vous voulez supprimer l'affectation?</h2>
    <div style="width: 30%" class="d-flex justify-content-around mt-3">
      <button cButton (click)="deleteAffectation()">Oui</button>
      <button cButton (click)="toggleCheckDeleteModal($event)">Non</button>
    </div>
  </c-modal-body>
</c-modal>

<c-toaster placement="top-end" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="toastVisible"
  >
    <div class="d-flex">
      <c-toast-body>
        <span
          >{{ toastMessage }}
          <span class="p-1 text-white rounded bg-success">
            <svg
              cIcon
              name="cilCheckCircle"
              size="lg"
              title="Etudiant affecter"
            ></svg> </span
          >!</span
        >
      </c-toast-body>
      <button
        aria-label="close"
        cButtonClose
        class="me-2 m-auto"
        (click)="toastVisible = false"
      ></button>
    </div>
  </c-toast>
</c-toaster>
